<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://project-manhattan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>project-manhattan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>project-manhattan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$project-manhattan</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjectManhattanEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:azureserve.database.windows.net,1433;Initial Catalog=ProjectManhattan;User ID=serveradmin@azureserve;Password=Asdf!234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:azureserve.database.windows.net,1433;Database=ProjectManhattan;User ID=serveradmin@azureserve;Password=Asdf!234;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectManhattan.ProjectManhattanEntities, ProjectManhattan" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjectManhattanEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ProjectManhattan.csdl|res://*/ProjectManhattan.ssdl|res://*/ProjectManhattan.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:azureserve.database.windows.net,1433;Database=ProjectManhattan;User ID=serveradmin@azureserve;Password=Asdf!234;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>