<div style="margin: 150px">
    <h1>MovieMeter</h1>
    <p class="lead">Project Manhattan is a web /iphone / android app to quicky access movie ratingss along with associated details.</p>
    <p>@Html.ActionLink("Start App", "Index", "Movie",null, new {@class = "btn btn-primary btn-lg",@style= "background: #200030" })</p>
</div>
